%ul.nav.nav-tabs
  %li=link_to tag_icon(:list, pat(:list)), url(:records, :index)
  %li=link_to tag_icon(:plus, pat(:new)), url(:records, :new)
  %li.active=link_to tag_icon(:edit, pat(:edit)), url(:records, :edit, :id => @record.id)

.tabs-content
  -form_for :record, url(:records, :update, :id => @record.id), :method => :put, :class => 'form-horizontal' do |f|
    =partial 'records/form', :locals => { :f => f }
