%ul.nav.nav-tabs
  %li=link_to tag_icon(:list, pat(:list)), url(:records, :index)
  %li.active=link_to tag_icon(:plus, pat(:new)), url(:records, :new)

.tabs-content
  -form_for :record, url(:records, :create), :class => 'form-horizontal' do |f|
    =partial 'records/form', :locals => { :f => f }
