%div.panel.panel-info(ng-controller="RecordListController")
  %div.panel-heading
    %button.btn.btn-sm.btn-warning(ng-click="clearQuery()")
      %span.glyphicon.glyphicon-remove
      %span Показать всех
    %span#heading
      %img.img-rounded(src="assets/phone-icon.png")
      %span Primepress Directory
    %a.btn.btn-sm.btn-info.pull-right(href="/admin")
      %span Панель управления
      %span.glyphicon.glyphicon-log-in
  %div.panel-body
    %table.table.table-striped
      %thead
        %tr
          %th
            %div.input-group
              %span.input-group-addon.glyphicon.glyphicon-sort(ng-click="sorter = 'name'; reverse=!reverse")
              %input.form-control(ng-model="search.name" placeholder="Имя")
          %th
            %div.input-group
              %span.input-group-addon.glyphicon.glyphicon-sort(ng-click="sorter = 'department'; reverse=!reverse")
              %input.form-control(ng-model="search.department" placeholder="Отдел")
          %th
            %div.input-group
              %span.input-group-addon.glyphicon.glyphicon-sort(ng-click="sorter = 'title'; reverse=!reverse")
              %input.form-control(ng-model="search.title" placeholder="Должность")
          %th
            %div.input-group
              %span.input-group-addon.glyphicon.glyphicon-sort(ng-click="sorter = 'mail'; reverse=!reverse")
              %input.form-control(ng-model="search.mail" placeholder="E-Mail")
          %th
            %div.input-group
              %span.input-group-addon.glyphicon.glyphicon-sort(ng-click="sorter = 'phone'; reverse=!reverse")
              %input.form-control(ng-model="search.phone" placeholder="Телефон")
          %th
            %div.input-group
              %span.input-group-addon.glyphicon.glyphicon-sort(ng-click="sorter = 'mobile'; reverse=!reverse")
              %input.form-control(ng-model="search.mobile" placeholder="Мобильный телефон")
      %tbody
        %tr(ng-repeat="record in records | filter:departments_filter | filter:search | orderBy:sorter:reverse")
          %td
            {{record.name}}
          %td
            %a(ng-click="departments_filter.department = record.department" href="#") {{ record.department}}
          %td
            {{record.title}}
          %td
            %a{:href => "mailto:{{record.mail}}" } {{record.mail}}
          %td
            {{record.phone}}
          %td
            {{record.mobile}}